:root {
    --background-color: #0d0d0d;
    --text-color: #00ff00;
    --font-family: 'Courier New', Courier, monospace;
    --input-bg-color: #333;
    --input-border-color: #00ff00;
    --border-radius: 5px;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#terminal {
    background-color: var(--background-color);
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 10px var(--text-color);
    width: 80%;
    max-width: 800px;
    border: 1px solid var(--text-color);
}

#output {
    white-space: pre;
    margin-bottom: 20px;
}

#input-line {
    display: flex;
}

#prompt {
    margin-right: 10px;
}

#input {
    width: 100%;
    padding: 10px;
    background-color: var(--input-bg-color);
    border: 1px solid var(--input-border-color);
    color: var(--text-color);
    font-family: var(--font-family);
    border-radius: var(--border-radius);
}
